# Database
DB_NAME=semir_db
DB_USER=semir_user
DB_PASSWORD=CHANGE_THIS_STRONG_PASSWORD

# Django
SECRET_KEY=CHANGE_THIS_TO_RANDOM_50_CHARS
DEBUG=False
ALLOWED_HOSTS=your-domain.com,www.your-domain.com,14.225.254.192
CSRF_TRUSTED_ORIGINS=https://your-domain.com,https://www.your-domain.com